<div id ="search" class="hide">

    <form id="searchForm" action="search.php">
        <div class="searchWrapper">
            <span id="closeSearch" class="fas fa-times fa-lg"></span>
            <input type="text" name="search" id="searchTerm" placeholder="Search..." data-validation="length" data-validation-length="min3" data-validation-error-msg="* Search value must be greater than 3 characters">
            <!--<input id="searchSubmit" type="submit" value="Search">-->
            <span id="searchSubmit" class="fas fa-search fa-lg"></span>
        </div>        
    </form>

</div>